<% layout("/layouts/boilerplate")%>
  <div class="row row-col-lg-3 row-col-md-2 row-col-sm-1">
    <% for(let listing of allListings) { %>
      <div class="card" style="width: 18rem">
        <a href="/listings/<%= listing._id %>" class="text-decoration-none text-dark">
          <img src="<%= listing.image %>" class="card-img-top" alt="listing_image" style="height: 20rem">
          <div class="card-img-overlay"></div>
          <div class="card-body">
            <h5 class="card-title">
              <%= listing.title %>
            </h5>
            <p class="card-text">Price : ₹<%= listing.price %> /night </p>
          </div>
        </a>
      </div>
      <% } %>
  </div>