body{
    font-family: "Plus Jakarta Sans", sans-serif !important;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}  
.container{
    flex: 1;
}
.navbar{
    height: 5rem;
    background-color: #fff;
}
.fa-keycdn{
    color: #fe424d;
    font-size: 2rem;
}
.nav-link{
    color: #222 !important;
}
.f-info{
    height: 8rem;
    background-color: #ebebeb;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: space-evenly;
    text-align: center;
}
.f-info-links, 
.f-info-socials{
    width: 100%; 
    display: flex;
    align-items: center;
    justify-content: center;
}

.f-info-socials i{
    margin-right: 1rem;
    font-size: 1.2rem;
}
.f-info-links a{
    text-decoration: none;
    color: #222;
}
.f-info-links a:hover{
    text-decoration: underline;
}
.listing-card{
    border: none !important;
    margin-bottom: 2rem;
}
.card-img-top{
    border-radius: 1rem !important;
    width: 100%;
    object-fit: cover !important;
}
.card-body{
    padding: 0 !important;
}
.card-text-p{
    font-weight: 400;
}
.card-img-overlay{
    opacity: 0;
}
.card-img-overlay:hover{
    opacity: 0.2;
    background-color: #fff;
}
.add-btn{
    background-color: #fe424d !important;
    border: none !important;
}
.show-img{
    height: 30vh;
}
.btns{
    display: flex !important;
}
.showcard{
    padding-left: 0;
    padding-right: 0;
}
#filters {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; /* ⬅ centers all filter items */
    align-items: center;
    gap: 1rem;
    margin: 1rem auto;
}

.filter{
    text-align: center;
    margin-right: 1.5rem;
    margin-top: 1.5rem;
    opacity: 0.6;
}
.filter:hover{
opacity: 1;
cursor: pointer;
}
.filter p{
    font-size: 0.8rem;
}
.tax-info {
    opacity: 0.6;
    display: none;
}
.tax-toggle {
    border: 1px solid black;
    border-radius: 1rem;
    height: 3.25rem;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: center; /* ⬅ centers label text */
    text-align: center;
}
.btn-nav-search {
    background-color: #fe424d !important;
    color: #fff !important;
    border-radius: 20px !important;
    padding: 0 1rem !important;
}
.input-nav-search {
    border-radius: 20px !important;
    padding: 0 0.5rem !important;
}
.input-nav-search::placeholder {
  text-align: center;
}
.input-nav-search {
  text-align: center;
}
#map{
    height: 400px;
    width: 55vw;
    border-radius: 10px;  
}
